<!doctype html> 
<html>
  <head>
    <title>MBTI Classifier</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head> 
  <body style="background-color:black"> 
    <div id="maintext"
      style="position:absolute; margin:auto; width:700px; height:200px; text-align:center; top:0; bottom: 0; left: 0; right: 0;">
      <h1 class="text-light mb-2"> Type something to get a prediction </h1>
      <h4 class="text-light mb-5">No limits to word length</h4>
      <form method=post>
        <p class="text-light">
          <input type="text" id="user_text" name="user_text">
          <button type="submit">Submit</button>
        </p>
      </form>
    </div> 
  </body>
</html>
